
{% load staticfiles %}
<html>
    <head>
      <div class="page-header">
        <a href="{% url 'post_list_categoria' %}" class="top-menu"><span class="glyphicon glyphicon-list"></span></a>
        <a href="{% url 'crudfinal.views.post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>

        <h1><a href="/home">Proyecto final </a></h1>

      </div>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

        <link rel="stylesheet" href="{% static 'css/estilo.css' %}">


        <link href="https://fonts.googleapis.com/css?family=Gochi+Hand" rel="stylesheet" type="text/css">
    </head>
    <body>
      <div class="content container">
          <div class="row">
              <div class="col-md-8">
              {% block content %}
              {% endblock %}
              </div>
          </div>
      </div>
    </body>
</html>
