{% extends 'crudfinal/base.html' %}

{% block content %}
    <div class="post">
      <a class="btn btn-default" href="{% url 'post_edit_categoria' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
      <a class="btn btn-default" href="{% url 'post_delete_categoria' pk=post.pk %}"><span class="glyphicon glyphicon-trash"></span></a>
      <h1>{{ post.Nombre_Categoria }}</h1>
      <p>
        Descripcion: <br>{{ post.Descripcion_Categoria |linebreaksbr }}
      </p>


      <br>
    </div>
{% endblock %}
