<html>
    <head>
        <title>Django Girls blog</title>
    </head>
    <body>
          <div>
              <h1><a href="/"></a></h1>
          </div>

          {% for post in posts %}
              <div>
                  <p>
                  <h2><a href="">{{ post.Nombre_Foto }}</a></h2>
                  </p>
                  <img src="/media/{{ post.Archivo_Foto }}" width="450px" heigth="450px"/>
                  <br>
                  published: {{ post.Fecha_Foto }}
                  <p>
                  {{ post.Descripcion_Foto|linebreaksbr }}
                  </p>
                  {{ post.categoria }}
                  <br>
                  {{ post.Autor_Foto}}
                  <br>




              </div>
          {% endfor %}

</html>
