{% extends 'crudfinal/base.html' %}

{% block content %}
        <div class="post">

            {% if post.Fecha_Foto %}
                <div class="date">
                    {{ post.Fecha_Foto }}
                </div>
            {% endif %}
            <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
            <a class="btn btn-default" href="{% url 'post_delete' pk=post.pk %}"><span class="glyphicon glyphicon-trash"></span></a>

            <h1>{{ post.Nombre_Foto }}</h1>
            <img src="/media/{{ post.Archivo_Foto }}" width="450px" heigth="450px"/>
            <p>Descripcion: <br>{{ post.Descripcion_Foto|linebreaksbr }}</p>
          </p>
          Categoria: {{ post.categoria }}
          <br>
          Nombre del autor: {{ post.Autor_Foto}}
          <br>
        </div>
{% endblock %}
